div#Page-HeadLine
    {
        font-family: Arial, sans-serif;
        background-color: grey;
        font-size: 20px;
        font-weight: bold;
        color: Navy;
        text-align: center;
        border: 3px solid Black;
        padding: 20px;
    }
div#Page-Footer
    {
        margin-top: -2px;
        font-family: Arial, sans-serif;
        background-color: grey;
        font-size: 8px;
        font-weight: normal;
        color: Black;
        text-align: center;
        border: 3px solid Black;
        padding: 5px;
    }
table {
        margin-top: -2px;
        border: 2px solid black;
        border-collapse: collapse;
      }

th    {
        border: 2px solid black;
        text-align: center;
        padding: 5px;
      }

td  {
        border: 1px solid black;
        text-align: center;
      }
div#Left-Nav
    {
      margin-top: -2px;
      background-color: grey;
      height: 857.5px;
      width: 252px;
      font-family: Arial, sans-serif;
      font-size: 15px;
      font-weight: bold;
      color: Black;
      text-align: left;
      border: 2px solid Black;
    }

button  {
          height: 50px;
          width: 246px;
          border: 2px solid Black;
          font-family: Arial, sans-serif;
          font-size: 18px;
          font-weight: bold;
          color: Black;
          text-align: left;
        }
