div#Page-HeadLine
    {
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: Navy;
        text-align: center;
        border: 3px solid Red;
        padding: 20px;
    }

table {
        border: 3px solid black;
        border-collapse: collapse;
      }

th    {
        border: 3px solid black;
        text-align: center;
        padding: 5px;
      }

td    {
        border: 1px solid black;
        text-align: center;
      }
div#Left-Nav
    {
        margin-top: 10;
        margin-left: 5;
        background-color: grey;
        height: 850px;
        width: 251px;
        font-family: Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: Black;
        text-align: left;
        border: 3px solid Black;
    }

button  {
          height: 50px;
          width: 246px;
          border: 2px solid Black;
          font-family: Arial, sans-serif;
          font-size: 18px;
          font-weight: bold;
          color: Black;
          text-align: left;
        }
