h1  {
      color: Navy;
      text-align: center;
    }

p   {
      color: Orange;
    }
div 1
    {
        font-family: Arial, sans-serif;
        font-size: 28px;
        font-weight: bold;
    }
